.footer {
    background: #660683; /* темний фон */
    color: #fff;
    padding: 50px 20px 20px 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  
  .footer-brand h2 {
    font-size: 24px;
    color: #f1c4ff; /* зелений акцент */
    margin-bottom: 10px;
  }
  
  .footer-links h3,
  .footer-contact h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #f5c5f1;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0px;
    
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-links ul li a:hover {
    color: #4CAF50;
  }
  
  .footer-contact p {
    margin: 5px 0;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 15px;
    font-size: 14px;
    color: #aaa;
  }
  
  /* Адаптив */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      gap: 20px;
    }
  }
  