    .slider {
      position: relative;
      width: 912px;
      overflow: hidden;
    }

    .slider-track {
      display: flex;
      transition: transform 0.6s ease-in-out;
    }

    .slide {
      min-width: 912px;
      border-radius: 12px;
      text-align: center;
    }

    .slide img{
        width: 100%;
    }

    .slide h2 {
      margin-bottom: 10px;
    }

    .buttons {
      position: absolute;
      top: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      transform: translateY(-50%);
    }

    button {
      background: rgba(255,255,255,0.2);
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
      padding: 10px 16px;
      border-radius: 50%;
      transition: 0.3s;
    }

    button:hover {
      background: rgba(255,255,255,0.4);
    }

.banner{
    display: flex;
    width: 100vw;
    height: max-content;
    padding: 10px ;
}

.right{
    height: 100%;
}
.right img{
    height: 411px;
}